.api-content {
  margin-top: 20px;
}

.quote-container {
  background-color: hsla(236, 7%, 55%, 0.11);
  width: 500px;
  padding: 20px;
  border-radius: 5px;
}

.author {
  font-style: italic;
  margin-bottom: 5px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.quote {
  line-height: 25px;
  font-size: 18px;
}
