.btn-submit {
  background-color: dodgerblue;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.search-input {
  padding: 11px;
  outline: none;
  font-style: italic;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

.api-content {
  margin-top: 20px;
}